body {
    margin:0;
    padding: 0;
    height:100vh;
    display: grid;
    place-items: center;
    background-color: #2d2e36;
}


img {
    width:100%;
    border-radius: 0.2rem;
}

a {
    text-decoration: none;
}

.container {
    background-color: #383a45;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
    max-width: 270px;
}

p.title {
    color: white;
    font-size: 1.2rem;
    line-height: 119.7%;
}

p.description {
    color:#8d91a6;
    font-size:0.8rem;
}

.link {
    width: 0.8rem;
}

 @media only screen and (min-width: 400px) {
   .container{
    max-width: 600px;
   }

   .photo {
    width: 9rem;
    margin-right: 1rem;
   }



    a {
        display: flex;
    }
} 



